{% extends "layout.html" %} {% block title %} {{ super() }} | Home {% endblock
%} {% block content %}
<section class="border border-gray-200 rounded-2xl overflow-hidden">
  <div
    class="flex justify-between gap-4 border-b border-gray-300 px-4.25 py-3.75"
  >
    <div
      class="inline-flex flex-1 items-center rounded-lg border border-gray-300 transition-colors focus-within:border-teal-700 focus-within:shadow-sm focus-within:shadow-teal-100"
    >
      <label for="search" class="pl-2">
        <i data-lucide="search" class="w-3.5 h-3.5 text-slate-500"></i>
      </label>
      <input
        type="search"
        placeholder="Search name or IP address"
        name="search"
        aria-label="Search devices"
        autocomplete="off"
        id="search"
        class="h-9.75 w-full pr-3 pl-4 text-[0.8125rem] outline-none"
      />
    </div>

    <button
      type="button"
      class="inline-flex cursor-pointer items-center justify-center gap-1.75 rounded-lg border border-gray-300 p-2.5 text-sm font-bold whitespace-nowrap transition hover:border-gray-400 hover:bg-gray-100"
    >
      <i data-lucide="iteration-ccw" class="w-3.5 h-3.5"></i>
      Check all
    </button>
  </div>
  <div class="overflow-x-auto">
    <table class="w-full min-w-3xl border-collapse">
      <thead
        class="border-b border-gray-300 bg-gray-100 text-[0.625rem] tracking-[0.06em] text-gray-500 uppercase"
      >
        <tr class="text-left">
          <th class="px-4.5 py-3">Device Name</th>
          <th class="px-4.5 py-3">IP / Port</th>
          <th class="px-4.5 py-3">Status</th>
          <th class="px-4.5 py-3">Last Checked</th>
          <th class="px-4.5 py-3">Latency</th>
          <th class="px-4.5 py-3"></th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr class="border-b border-gray-200 transition hover:bg-slate-50">
          <td class="px-4.5 py-4.25 text-[0.8125rem] font-bold">
            {{ row.name }}
          </td>
          <td class="px-4.5 py-4.25 text-[0.75rem]">
            {{ row.host }} : {{ row.port }}
          </td>
          <td class="px-4.5 py-4.25 text-[0.6875rem] font-semibold">
            <span
              class="{% if row.status == 'OFFLINE' %} text-red-700 bg-red-50 {% elif row.status == 'UNCHECKED' %} bg-slate-50 text-slate-700 {% else %}bg-green-50 text-green-700 {% endif %} font-bold inline-flex items-center gap-1.5 rounded-[1.25rem] px-2.25 py-1.25 text-[0.6875rem] lowercase"
            >
              <span
                class="{% if row.status == 'OFFLINE' %} bg-red-700 {% elif row.status == 'UNCHECKED' %} bg-slate-700 {% else %} bg-green-700 {% endif %} w-1.5 h-1.5 rounded-full"
              ></span>
              {{ row.status }}</span
            >
          </td>
          <td class="px-4.5 py-4.25 text-[0.8125rem]">{{ row.created_at }}</td>
          <td class="px-4.5 py-4.25 text-[0.75rem] font-semibold">
            {% if not row.latency %} &mdash; {% else %} {{ row.latency }} ms {%
            endif %}
          </td>
          <td class="px-4.5 py-4.25">
            <div class="inline-flex gap-2">
              <button
                type="button"
                data-device-id="{{ row.id }}"
                class="cursor-pointer rounded-[0.4375rem] border border-gray-200 px-2.75 py-2 text-[0.6875rem] transition hover:border-gray-400 hover:bg-gray-100"
              >
                Check
              </button>
              <button
                type="button"
                class="cursor-pointer rounded-[0.4375rem] border border-gray-300 px-2 transition hover:border-gray-400 hover:bg-gray-100"
              >
                <i data-lucide="more-horizontal" class="w-4.5 h-4.5"></i>
              </button>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <footer class="px-4.5 py-3.25 bg-gray-100">
    <span class="text-[0.6875rem] text-gray-500"
      >Showing {{ data|length }} device{{ 's' if data|length != 1 else
      ''}}</span
    >
  </footer>
</section>
{% endblock %}
